@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using DynamicRoutine.SSOT
@using DynamicRoutine.Entities
@model List<RoutineField>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table {
            border-collapse: collapse;
        }

            table td {
                padding: 10px;
                border: 1px solid red;
            }
    </style>
</head>
<body>
    <form asp-action="Create">
        <input type="hidden" name="routineId" value="@ViewBag.RoutineId" />
        <p>Title : <input type="text" name="title" /></p>
        <p>TitleEn : <input type="text" name="titleEn" /></p>
        <p>Type : <select name="type" asp-items="Html.GetEnumSelectList<FieldType>()"></select></p>
        <p>Url : <input type="text" name="Url" /></p>
        <p>IsRequide : @Html.CheckBox("isRequide")</p>
        <p><input type="submit" value="Save" /></p>
    </form>
    <hr />
    <table>
        <tr>
            <td>#</td>
            <td>title</td>
            <td>TitleEn</td>
            <td>Type</td>
            <td>TypeDes</td>
            <td>Url</td>
            <td>IsRequide</td>
            <td>Delete</td>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@(item.Id)</td>
            <td>@(item.Title)</td>
            <td>@item.TitleEn</td>
            <td>@item.Type</td>
            <td>@item.FieldTypeDes</td>
            <td>@item.Url</td>
            <td>@item.IsRequide</td>
            <td><a asp-action="Delete" asp-route-id="@(item.Id)">Delete</a></td>
        </tr>
        }
    </table>
</body>
</html>
