@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using DynamicRoutine.Entities
@{
    Layout = null;
    var dashboards = (List<DynamicRoutine.Entities.RoutineDashboard>)ViewBag.Dashboards;
    var steps = (List<RoutineStep>)ViewBag.RoutineSteps;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage</title>
</head>
<body>
    <p>Steps : </p>
    <table>
        <tr>
            <td>#</td>
            <td>FromStep</td>
            <td>FromTitle</td>
            <td>ToStep</td>
            <td>ToTitle</td>
            <td>Action</td>
            <td>Delete</td>
        </tr>
        @foreach(var item in steps)
        {
        <tr>
            <td>@(item.Id)</td>
            <td>@item.FromStep</td>
            <td>@dashboards.Where(c=>c.StartStep==item.FromStep).FirstOrDefault()?.Title</td>
            <td>@item.ToStep</td>
            <td>@dashboards.Where(c => c.StartStep == item.ToStep).FirstOrDefault()?.Title</td>
            <td>@item.Action</td>
            <td><a href="/RoutineStep/Delete/@(item.Id)">Delete</a></td>
        </tr>
        }
    </table>
    <form method="post">
        <input type="hidden" name="routineId" value="@ViewBag.RoutineId"/>
        <p>
            From :
            <select name="from">
                @foreach (var item in dashboards)
                {
                    <option value="@(item.StartStep)">@item.Title - @item.TitleEn</option>
                }
            </select>
        </p>

        <p>
            To :
            <select name="to">
                @foreach (var item in dashboards)
                {
                    <option value="@(item.StartStep)">@item.Title - @item.TitleEn</option>
                }
            </select>
        </p>

        <p>عملیات : 
        <select name="action" asp-items="@Html.GetEnumSelectList<RoutneAction>()"></select>
        </p>
        <p><input type="submit" value="Save"/></p>
    </form>
</body>
</html>
