@using DynamicRoutine.Entities
@using DynamicRoutine.SSOT
@model RoutineForm

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    var fields = (List<RoutineField>)ViewBag.Fields;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <form method="post">
        <p>Title : <input type="text" name="title"/></p>
        <input type="hidden" name="actionType" value="@ViewBag.Action" />
        <input type="hidden" name="routineId" value="@ViewBag.RoutineId" />
        <input type="hidden" name="fromStep" value="@ViewBag.FromStep" />
        <input type="hidden" name="previousIsEdit" value="@ViewBag.PreviousIsEdit" />

        <p>Action : @ViewBag.Action</p>
        <p>RoutineId : @ViewBag.RoutineId</p>
        <p>FromStep : @ViewBag.FromStep</p>
        <p>PreviousIsEdit : @ViewBag.PreviousIsEdit</p>
        <p>
            Fields :

            @foreach (var item in fields)
            {
                <input type="checkbox" name="fields" value="@(item.Id)" /> @(item.Title)
            }
        </p>
        <p>نوع : <select name="type" asp-items="Html.GetEnumSelectList<FormType>()"></select></p>
        <p><input type="submit" value="Save" /></p>



       <p>-----</p>
        @if(Model!=null)
        {
            <p>Action : @Model.Action</p>
            <p>FieldJson : @Model.FieldJson</p>
            <p>FromStep : @Model.FromStep</p>
            <p>PreviousIsEdit : @Model.PreviousIsEdit</p>
            <p>type : @Model.Type</p>
            <p>title : @Model.Title</p>
        }
    </form>
</body>
</html>
